<!--Start SideBar-->
<aside class="sidebar">
  <!--Start logo -->
  <div class="sidebar__logo">
    <img
      routerLink="./dashboard"
      src="/assets/images/logo.png"
      class="sidebar__logo-img"
    />
  </div>
  <!--End logo -->

  <nav class="sidebar__nav">
    <ul class="sidebar__nav-list">
      <li class="sidebar__nav-item">
        <a
          routerLink="perfil"
          routerLinkActive="sidebar__nav-link--active"
          class="sidebar__nav-link"
        >
          <i class="fa fa-user sidebar__icon"></i>
          <span>Perfil</span>
        </a>
      </li>

      <!-- COMERCIAL -->
      <p class="sidebar__section-title" *appMostrarSiRol="['ADMINISTRADOR', 'CAJERO']">
        Comercial
      </p>

      <li class="sidebar__nav-item" *appMostrarSiRol="['ADMINISTRADOR', 'CAJERO']">
        <a
          routerLink="listarClientes"
          routerLinkActive="sidebar__nav-link--active"
          class="sidebar__nav-link"
        >
          <i class="fa fa-street-view sidebar__icon"></i>
          <span>Clientes</span>
        </a>
      </li>

      <li class="sidebar__nav-item" *appMostrarSiRol="['ADMINISTRADOR', 'CAJERO']">
        <a
          routerLink="listarVentas"
          routerLinkActive="sidebar__nav-link--active"
          class="sidebar__nav-link"
        >
          <i class="fa fa-shopping-cart sidebar__icon"></i>
          <span>Ventas</span>
        </a>
      </li>

      <!-- INVENTARIO -->
      <p class="sidebar__section-title" *appMostrarSiRol="['ADMINISTRADOR', 'CAJERO']">
        Inventario
      </p>

      <li class="sidebar__nav-item" *appMostrarSiRol="['ADMINISTRADOR', 'CAJERO']">
        <a
          routerLink="listarProductos"
          routerLinkActive="sidebar__nav-link--active"
          class="sidebar__nav-link"
        >
          <i class="fa fa-box sidebar__icon"></i>
          <span>Productos</span>
        </a>
      </li>

      <li class="sidebar__nav-item" *appMostrarSiRol="['ADMINISTRADOR']">
        <a
          routerLink="listarCategorias"
          routerLinkActive="sidebar__nav-link--active"
          class="sidebar__nav-link"
        >
          <i class="fa fa-tags sidebar__icon"></i>
          <span>Categorias</span>
        </a>
      </li>

      <!-- COMPRAS -->
      <p class="sidebar__section-title" *appMostrarSiRol="['ADMINISTRADOR']">
        Compras
      </p>

      <li class="sidebar__nav-item" *appMostrarSiRol="['ADMINISTRADOR']">
        <a
          routerLink="listarProveedores"
          routerLinkActive="sidebar__nav-link--active"
          class="sidebar__nav-link"
        >
          <i class="fa fa-truck sidebar__icon"></i>
          <span>Proveedores</span>
        </a>
      </li>

      <li class="sidebar__nav-item" *appMostrarSiRol="['ADMINISTRADOR']">
        <a
          routerLink="listarCompras"
          routerLinkActive="sidebar__nav-link--active"
          class="sidebar__nav-link"
        >
          <i class="fa fa-shopping-bag sidebar__icon"></i>
          <span>Compras</span>
        </a>
      </li>

      <!-- ADMINISTRACIÓN -->
      <p class="sidebar__section-title" *appMostrarSiRol="['ADMINISTRADOR']">
        Administración
      </p>

      <li class="sidebar__nav-item" *appMostrarSiRol="['ADMINISTRADOR']">
        <a
          routerLink="listarUsuarios"
          routerLinkActive="sidebar__nav-link--active"
          class="sidebar__nav-link"
        >
          <i class="fa fa-users sidebar__icon"></i>
          <span>Usuarios</span>
        </a>
      </li>

       <li class="sidebar__nav-item" *appMostrarSiRol="['ADMINISTRADOR', 'CAJERO']">
        <!-- <a
          routerLink="listarHistorial"
          routerLinkActive="sidebar__nav-link--active"
          class="sidebar__nav-link"
        >
          <i class="fa fa-users sidebar__icon"></i>
          <span>Historial</span>
        </a> -->
      </li>
    </ul>
  </nav>

  <button class="sidebar__logout" (click)="cerrarSesion()">
    <i class="fas fa-power-off sidebar__logout-icon"></i>
    <span>Cerrar sesión</span>
  </button>
</aside>
<!--End SideBar-->
