<div>
  <!--Start SideBar-->
  <aside>
    <div>
      <!--Start logo -->
      <div>
        <div>
          <img

          routerLink="./dashboard"
            src="/images/icons/iconoestetocopio.png"
            
          />
        </div>
      </div>
      <!--End logo -->
      <!--Start NavItem   error mover a .ts  @click="openMenu !== 1 ? openMenu = 1 : openMenu = null"-->
      <div>
        <ul>
          <li
            (click)="toggleMenu(1)"
          >
            <i class="fas fa-align-left fa-sm"></i>
          </li>
          

          <li
            (click)="cerrarSesion()"
          >
            <i class="fas fa-power-off fa-sm colorIconosSliderStandar"></i>
          </li>
        </ul>
      </div>
      <!--End NavItem -->
    </div>
  </aside>
  <!-- Start Open Menu  "-->
  <aside
    [class.animate__fadeInLeft]="openMenu === 1 && !isClosing"
    [class.animate__fadeOutLeft]="isClosing"
    *ngIf="openMenu === 1 || isClosing"
  >
    <div>
      <!--Start Sidebar for open menu -->
      <div>

    <!-- CLIENTES -->
        <div
        *appMostrarSiRol="['ADMINISTRADOR']"
        >
          <p class="font-bold numletrasidebar">
            Clientes
          </p>
        </div>

        <!-- boton lista clientes -->
        <a
          *appMostrarSiRol="['ADMINISTRADOR']"
          routerLink="listarclientes"
        >
          <div>
            <i class="fa fa-street-view colorIconosSliderStandar"></i>
          </div>
          <p>Clientes</p>
        </a>


         <!-- boton lista productos -->
        <a
          *appMostrarSiRol="['ADMINISTRADOR']"
          routerLink="listarproductos"
        >
          <div>
            <i class="fa fa-street-view colorIconosSliderStandar"></i>
          </div>
          <p>PRODUCTOS</p>
        </a>
          <!-- boton lista ventas -->
        <a
          *appMostrarSiRol="['ADMINISTRADOR']"
          routerLink="listaventas"
        >
          <div>
            <i class="fa fa-street-view colorIconosSliderStandar"></i>
          </div>
          <p>VENTAS</p>
        </a>





        <!-- CITAS -->
        <div *appMostrarSiRol="['ADMINISTRADOR', 'recepcionista']">
          <p class="font-bold numletrasidebar">Citas</p>
        </div>

        <a
          *appMostrarSiRol="['medico']"
          routerLink="dashboard"
        >
          <div>
            <i class="fas fa-chart-pie fa-sm colorIconosSliderStandar"></i>
          </div>
          <p>Dashboard</p>
        </a>

        <!-- boton lista citas -->
        <a
          *appMostrarSiRol="['ADMINISTRADOR', 'recepcionista']"
          routerLink="frmcitas"
        >
          <div>
            <i class="fas fa-stethoscope colorIconosSliderStandar"></i>
          </div>
          <p>Citas</p>
        </a>

        <!-- PACIENTES -->
        <div
          *appMostrarSiRol="['ADMINISTRADOR', 'recepcionista']"
        >
          <p class="font-bold numletrasidebar">
            Pacientes
          </p>
        </div>

        <!-- boton lista paciente -->
        <a
          *appMostrarSiRol="['ADMINISTRADOR', 'recepcionista']"
          routerLink="listapacientes"
        >
          <div>
            <i class="fa fa-street-view colorIconosSliderStandar"></i>
          </div>
          <p>Pacientes</p>
        </a>

        <!-- boton lista historial clinico -->
        <a
          *appMostrarSiRol="['ADMINISTRADOR', 'medico', 'recepcionista']"
          routerLink="listahistorial"
        >
          <div>
            <i class="fa fa-history colorIconosSliderStandar"></i>
          </div>
          <p>Historial</p>
        </a>

        <!-- MEDICOS -->
        <div *appMostrarSiRol="['ADMINISTRADOR']">
          <p class="font-bold numletrasidebar">
            Médicos
          </p>
        </div>

        <!-- boton lista medico -->
        <a
          *appMostrarSiRol="['ADMINISTRADOR']"
          routerLink="listamedicos"
        >
          <div>
            <i class="fa fa-user-md colorIconosSliderStandar"></i>
          </div>
          <p>Médicos</p>
        </a>

        <!-- boton lista especialidades -->
        <a
          *appMostrarSiRol="['ADMINISTRADOR']"
          routerLink="listaespecialidades"
        >
          <div>
            <i class="fa fa-book colorIconosSliderStandar"></i>
          </div>
          <p>Especialidades</p>
        </a>

        <!-- boton lista consultas -->
        <a
          *appMostrarSiRol="['ADMINISTRADOR', 'medico']"
          routerLink="listaconsultas"
        >
          <div>
            <i class="fa fa-thermometer-empty colorIconosSliderStandar"></i>
          </div>
          <p>Consultas</p>
        </a>

        <!-- boton lista horarios -->
        <a
          *appMostrarSiRol="['ADMINISTRADOR']"
          routerLink="listahorarios"
        >
          <div>
            <i class="fa fa-calendar colorIconosSliderStandar"></i>
          </div>
          <p>Horarios</p>
        </a>



        <!-- Otros -->
        <div *appMostrarSiRol="['ADMINISTRADOR']">
          <p class="font-bold numletrasidebar">Administración</p>
        </div>

        <!-- boton lista consultorios -->
        <a
          *appMostrarSiRol="['ADMINISTRADOR']"
          routerLink="listaconsultorios"
        >
          <div>
            <i class="fa fa-bed colorIconosSliderStandar"></i>
          </div>
          <p>Consultorios</p>
        </a>

        <!-- boton lista usuarios -->
        <a
          *appMostrarSiRol="['ADMINISTRADOR']"
          routerLink="listausuarios"
        >
          <div>
            <i class="fa fa-users colorIconosSliderStandar"></i>
          </div>
          <p>Usuarios</p>
        </a>
      </div>
      <!--End Sidebar for open menu -->
    </div>
  </aside>
  <!-- End Open Menu -->

  <!-- End Sidebar -->
</div>
