<div class="flex h-screen w-full bg-transparent">
  <!--Start SideBar-->
  <aside
    class="w-20 relative z-20 flex-shrink-0 px-2 overflow-y-auto bg-gray-800 sm:block"
  >
    <div class="mb-6">
      <!--Start logo -->
      <div class="flex justify-center">
        <div
          class="w-14 h-14 rounded-full bg-gray-300 border-2 border-white mt-2"
        >
          <img

          routerLink="./dashboard"
            src="/images/icons/iconoestetocopio.png"
            class="rounded-full w-auto"
          />
        </div>
      </div>
      <!--End logo -->
      <!--Start NavItem   error mover a .ts  @click="openMenu !== 1 ? openMenu = 1 : openMenu = null"-->
      <div>
        <ul class="mt-6 leading-10 px-4">
          <li
            class="mb-3 p-2 rounded-md flex items-center justify-center bg-blue-400 cursor-pointer"
            (click)="toggleMenu(1)"
          >
            <i class="fas fa-align-left fa-sm text-white"></i>
          </li>
          

          <li
            class="absolute bottom-0 mb-3 p-2 rounded-full flex items-center mx-auto bg-white cursor-pointer"
            (click)="cerrarSesion()"
          >
            <i class="fas fa-power-off fa-sm colorIconosSliderStandar"></i>
          </li>
        </ul>
      </div>
      <!--End NavItem -->
    </div>
  </aside>
  <!-- Start Open Menu  "-->
  <aside
    class="animate__animated w-52 relative z-0 flex-shrink-0 px-4 overflow-y-auto bg-gray-800 sm:block sidebar-scroll"
    [class.animate__fadeInLeft]="openMenu === 1 && !isClosing"
    [class.animate__fadeOutLeft]="isClosing"
    *ngIf="openMenu === 1 || isClosing"
  >
    <div class="mb-6">
      <!--Start Sidebar for open menu -->
      <div class="flex flex-col gap-1 mt-4 px-2">

    <!-- CLIENTES -->
        <div
        *appMostrarSiRol="['ADMINISTRADOR']"
          class="mb-2 mt-3"
        >
          <p class="font-bold numletrasidebar text-sm mb-2 text-white">
            Clientes
          </p>
        </div>

        <!-- boton lista clientes -->
        <a
          *appMostrarSiRol="['ADMINISTRADOR']"
          routerLink="listarclientes"
          class="flex items-center p-3 bg-white rounded-md shadow-sm cursor-pointer hover:bg-gray-100 hover:shadow-md hover:scale-105 transition-all duration-200 mb-1"
        >
          <div class="flex items-center justify-center w-8 h-8 mr-3">
            <i class="fa fa-street-view colorIconosSliderStandar"></i>
          </div>
          <p class="text-sm font-semibold">Clientes</p>
        </a>


         <!-- boton lista productos -->
        <a
          *appMostrarSiRol="['ADMINISTRADOR']"
          routerLink="listarproductos"
          class="flex items-center p-3 bg-white rounded-md shadow-sm cursor-pointer hover:bg-gray-100 hover:shadow-md hover:scale-105 transition-all duration-200 mb-1"
        >
          <div class="flex items-center justify-center w-8 h-8 mr-3">
            <i class="fa fa-street-view colorIconosSliderStandar"></i>
          </div>
          <p class="text-sm font-semibold">PRODUCTOS</p>
        </a>
          <!-- boton lista ventas -->
        <a
          *appMostrarSiRol="['ADMINISTRADOR']"
          routerLink="listaventas"
          class="flex items-center p-3 bg-white rounded-md shadow-sm cursor-pointer hover:bg-gray-100 hover:shadow-md hover:scale-105 transition-all duration-200 mb-1"
        >
          <div class="flex items-center justify-center w-8 h-8 mr-3">
            <i class="fa fa-street-view colorIconosSliderStandar"></i>
          </div>
          <p class="text-sm font-semibold">VENTAS</p>
        </a>




        <a
          *appMostrarSiRol="['medico']"
          routerLink="dashboard"
          class="flex items-center p-3 bg-white rounded-md shadow-sm cursor-pointer hover:bg-gray-100 hover:shadow-md hover:scale-105 transition-all duration-200 mb-1"
        >
          <div class="flex items-center justify-center w-8 h-8 mr-3">
            <i class="fas fa-chart-pie fa-sm colorIconosSliderStandar"></i>
          </div>
          <p class="text-sm font-semibold">Dashboard</p>
        </a>

       



        <!-- boton lista usuarios -->
        <a
          *appMostrarSiRol="['ADMINISTRADOR']"
          routerLink="listausuarios"
          class="flex items-center p-3 bg-white rounded-md shadow-sm cursor-pointer hover:bg-gray-50 mb-1"
        >
          <div class="flex items-center justify-center w-8 h-8 mr-3">
            <i class="fa fa-users colorIconosSliderStandar"></i>
          </div>
          <p class="text-sm font-semibold">Usuarios</p>
        </a>
      </div>
      <!--End Sidebar for open menu -->
    </div>
  </aside>
  <!-- End Open Menu -->

  <!-- End Sidebar -->
</div>
